name: Data Mining
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Game Version(x.xx)"
        required: true
        default: "7.00"

env:
  tag: patch-${{ github.event.inputs.version }}
  library_repo: harukaxxxx/ffxiv-datamining-tw
  teamcraft_repo: ffxiv-teamcraft/ffxiv-teamcraft
  teamcraft_fork: harukaxxxx/ffxiv-teamcraft

jobs:
  teamcraft:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch library
        run: git clone --branch $tag --depth 1 https://github.com/${library_repo}.git library

      - name: Clone teamcraft
        run: git clone --branch staging --depth 1 https://github.com/${teamcraft_repo}.git teamcraft

      - name: Run data generator
        run: |
          mkdir -p teamcraft/libs/data/src/lib/json/tw
          node --max-old-space-size=4096 teamcraft/data-extraction/data-exporter/index-tw.js

      - name: Setting origin
        run: |
          cd teamcraft
          git remote set-url origin https://github.com/${teamcraft_repo}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.WORKER_ACCESS_KEY }}
          path: teamcraft
          commit-message: "feat(data): update for tw ${{ env.tag }}"
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          push-to-fork: ${{ env.teamcraft_fork }}
          branch: ci/tw/datamining-${{ env.tag }}
          base: staging
          title: "feat(data): update for tw ${{ env.tag }}"
          body: |
            This PR is automatically generated by [ffxiv-datamining-worker](https://github.com/harukaxxxx/ffxiv-datamining-worker)
